<!DOCTYPE html>
<html>

<head>
  <title>
    <%=sails.config.globals.appName%>
  </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

  <!--STYLES-->
  <link rel="stylesheet" href="/dependencies/all.css">
  <link rel="stylesheet" href="/dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="/dependencies/datatables.bootstrap.min.css">
  <link rel="stylesheet" href="/dependencies/main.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body <% if(req.session.user && req.session.authenticated){%>class="bgWhite"<%}%>>
  <% if(req.session.user && req.session.authenticated){%>
  <div id="wrapper">
    <nav class="navbar navbar-expand-lg sidebar navbar-dark bg-primary fixed-top" id="sideNav" role="navigation">
      <a class="navbar-brand js-scroll-trigger" href="/home">
        <span class="d-block d-lg-none">
          <%=sails.config.globals.appName%></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/"><i class="fa fa-tasks" style="color:white;">&nbsp;</i>Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/categories"><i class="fa fa-folder-open" style="color:white;">&nbsp;</i>Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/profile"><i class="fa fa-user" style="color:white;">&nbsp;</i>My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/statistics"><i class="fa fa-chart-pie" style="color:white;">&nbsp;</i>Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/logout"><i class="fa fa-sign-out-alt" style="color:white;">&nbsp;</i>Log out</a>
          </li>
        </ul>
      </div>
    </nav>

    <%- body %>
  </div>
  <%} else {%>
  <%- body %>
  <%}%>
  <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->





  <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/jquery.min.js"></script>
  <script src="/dependencies/popper.min.js"></script>
  <script src="/dependencies/popper-utils.min.js"></script>
  <script src="/dependencies/bootstrap.min.js"></script>
  <script src="/dependencies/jquery.dataTables.min.js"></script>
  <script src="/dependencies/datatables.bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <!--SCRIPTS END-->
  <%- blocks.localScripts %>
</body>

</html>
