
  <div id="page-wrapper">
      <h1>Error</h1>
      <br>
        <% if (typeof error!== 'undefined') { %>
        <%= error %>
        <% } else { %>
        The page you were trying to reach doesn't exist.
        <% } %>

    </div>
