<div id="page-wrapper" style="min-height: 241px;">
  <div id="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">Categories</ol>
      <div class="row">
        <div class="col-lg-12">
          <table width="100%" class="table table-striped table-hover" id="dataTables-categories">
            <thead>
              <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Tasks</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%categories.forEach((category) =>  {%>
              <tr class="odd gradeX">
                <td>
                  <%=category.name%>
                </td>
                <td style="color:<%=category.color%>">
                  <%=category.color%>
                </td>
                <td>
                  <%=category.tasks.length%>
                </td>
                <td><a href="/category/delete/<%=category.id%>"><i class="fas fa-trash-alt"></i></a></td>
              </tr>
              <%});%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-circle btn-xl fixed bottom-right" id="newCategoryButton"
      data-toggle="modal" data-trigger="tooltip" data-placement="left" title="New Category" data-target="#newCategoryModal"><i
        class="fa fa-plus" data-trigger="tooltip" data-placement="left" title="New Category"></i></button>
  </div>
</div>
</div>

<!-- MODALS -->
<!-- New Task modal -->
<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/category/create" method="POST">
          <input type="hidden" name="color" id="color">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" required autocomplete="off">
            </div>
          </div>
          <div class="form-group row">
            <label for="color" class="col-sm-2 col-form-label">Color</label>
            <div class="col-sm-10">
              <div class="colorPicker"></div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /New Task modal-->
<% block('localScripts', '<script src="js/views/categories/list.js"></script>') %>
<% block('localScripts', '<script src="vendor/js/acolorpicker.js"></script>') %>
