<div class="container">
  <% var obj = {};
  if(this.error){
    obj = error;
  }%>
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" id="loginForm" action="/login" method="POST">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" name="login" id="login" class="form-control" placeholder="Email address or Login" required autofocus autocomplete="off">
      <input type="password" name="password" id="password" class="form-control" placeholder="Password" required value="<%=this.error%>" autocomplete="off">
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form><!-- /form -->
    <a href="#" class="forgot-password">
      Forgot the password?
    </a>
    <a href="/register" class="forgot-password">
      Register
    </a>
  </div><!-- /card-container -->
</div><!-- /container -->
<% block('localScripts', '<script src="js/views/user/login.js"></script>') %>
