<div class="container">
  <div class="card card-container">
      Register
      <form class="form-signin" id="registerForm" action="/register" method="POST">
        <span id="reauth-email" class="reauth-email"></span>
        <div class="alert alert-danger" id="pwmatch" style="display:none;">Passwords don't match</div>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus autocomplete="off">
        <input type="text" class="form-control" name="name" id="name" placeholder="First Name" required autocomplete="off">
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" required autocomplete="off">
        <input type="text" class="form-control" name="login" id="login" placeholder="Login" required autocomplete="off">
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required autocomplete="off">
        <input type="password" id="inputPasswordR" name="passwordR" class="form-control" placeholder="Repeat Password" required autocomplete="off">
        <button class="btn btn-success" type="submit">Register</button>
        <a href="/" class="btn btn-md btn-primary">Back</a>

      </form><!-- /form -->
    </div><!-- /card-container -->
  </div><!-- /container -->
  <% block('localScripts', '<script src="js/views/user/register.js"></script>') %>
