<div id="page-wrapper" style="min-height: 241px;">
  <div id="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">Tasks</ol>
      <div class="row">
        <div class="col-lg-12 canvas">
          <div id="board" class="u-fancy-scrollbar">
            <%categories.forEach((category) => {
              if(category.tasks.length > 0){
              %>
            <div class="task-row-wrapper">
              <div class="task-box" style="border:0px;" id="todo-panel">
                <div class="panel panel-default" style="<% if(category.color && category.color !== ''){%>background-color:<%=category.color%><%}%>">
                  <div class="panel-heading" style="font-weight: bold;">
                    <%=category.name%>
                  </div>
                  <%category.tasks.forEach((task) => {%>
                  <div class="panel-body task">
                    <div class="">
                      <span class="task-title">
                        <%=task.name%>
                      </span>
                      <span class="task-description">
                        <%=task.owner.name + ' ' + task.owner.lastName%>
                      </span>
                      <div class="task-author js-list-card-members">
                        <div class="task-author author-img" data-idmem="4e706d032bbd5a532a00afd0"><img class="member-avatar"
                            height="30" width="30" src="http://209.126.105.244:8092/gps/images/img_avatar2.png"></div>
                      </div>
                    </div>
                  </div>
                  <%});%>
                </div>
              </div>
            </div>
            <%}%>
            <%});%>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-circle btn-xl fixed bottom-right" id="newTaskButton" data-toggle="modal"
        data-trigger="tooltip" data-placement="left" title="New Task" data-target="#newTaskModal"><i class="fa fa-plus"
          data-trigger="tooltip" data-placement="left" title="New Task"></i></button>
    </div>
  </div>
</div>
<!-- MODALS -->
<!-- New Task modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">New task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/task/create" method="POST">
          <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
              <select class="form-control" name="category" id="category">
                <%categories.forEach((category) => {%>
                <option value="<%=category.id%>">
                  <%=category.name%>
                </option>
                <%});%>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" required autocomplete="off">
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="description" name="description" required autocomplete="off">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /New Task modal-->
<% block('localScripts', '<script src="js/views/tasks/list.js"></script>') %>
